#site-content{
  section {

  }

}

.section-title {
  font-size: modular-scale(2);
  color: $primary-color;
}
#hero {
  background-color: #f1f5f8;
  .row {
    align-items: center;
    flex-flow: row-reverse;
  }
  h3 {
    padding-top: $base-spacing;
    padding-bottom: $base-spacing;
    font-size: modular-scale(3);
    line-height: 1;
    text-align: center;
    span {
      color: $primary-color;
      display: block;;
    }
    small {
      font-size: modular-scale(-2);
    }
  }
  @include media($desktop-width) {
    h3 {
      font-size: modular-scale(5);
      small {
        font-size: modular-scale(-3);
      }
    }
  }

}
#entries {
  padding-bottom: $base-spacing*3;
  .section-header {
    padding-top: $base-spacing;
    padding-bottom: $base-spacing;
    text-align: center;
    color: #FFFFFF;
    background-color: $primary-color;
    position: relative;
    h3 {
      font-size: modular-scale(2);
      margin: 0;
    }
    &:after {
      position: absolute;
      top: 100%;
      left: 50%;
      content: '';
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;

      border-top: 20px solid $primary-color;
    }
  }
  .section-content {
    padding-top: $base-spacing*2;
    padding-bottom: $base-spacing*2;

    @include media($desktop-width) {
      display: flex;
      justify-content: space-around;
      .entry {
        flex-basis: 30%;
      }
    }
    .entry {
      text-align: center;
      .entry-image {
        display: flex;
        align-items: center;
        height: 300px;
        justify-content: center;
      }
      h4 {
        text-transform: uppercase;
        font-size: modular-scale(3);
        &:before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f058";
          margin-right: 0.5rem;
        }
      }
      p {
        text-transform: uppercase;
        font-size: modular-scale(2);
        line-height: 1;
        color: $primary-color;
        font-weight: 700;
        display: inline-block;
        border-top: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
      }
    }
  }
  .section-footer {
    text-align: center;
    .lead {
      font-family: $heading-font-family;
      line-height: $heading-line-height;
      margin: 0 0 $small-spacing;
      font-size: modular-scale(2);
      color: $primary-color;
      font-weight: bold;
    }
  }
}
#reasons {
  background-color: lighten($light-gray, 5);
  .section-header, .section-footer {
    text-align: center;

    padding-top: $base-spacing*2;
    padding-bottom: $base-spacing*2;

  }
  .section-header {
  }
  .section-footer {
    p {
      font-family: $heading-font-family;
      line-height: $heading-line-height;
      margin: 0 0 $small-spacing;
      font-size: modular-scale(2);
      color: $primary-color;
      font-weight: bold;
    }
  }
  @include media($desktop-width) {
    .list {
      display: flex;
      justify-content: space-around;

      &:after {
        content: '';
        position: absolute;
        top: 100px;
        right: 125px;
        bottom: 0;
        left: 125px;
        border-top: 8px dotted $primary-color;
        z-index: 50;
      }
      > li {

      }
    }
  }
  .list {
    list-style: none;
    margin: 0;
    padding: 0;

    counter-reset: my-awesome-counter;
    position: relative;

    li {
      flex-basis: 30%;
      counter-increment: my-awesome-counter;
      position: relative;
      z-index: 100;
      text-align: center;
      &::before {
        content: counter(my-awesome-counter);
        display: block;
        background-color: #fff;
        height: 200px;
        width: 200px;
        margin: 0 auto $base-spacing;
        border-radius: 50%;

        font-size: modular-scale(8);
        color: $primary-color;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
#form {
  padding-top: $base-spacing*2;
  padding-bottom: $base-spacing*2;
  .section-header {
    text-align: center;
  }
  .container {
    @include media($desktop-width) {
      max-width: 30rem;
    }
  }
}
