#site-footer {
  text-align: center;
  @include media($desktop-width) {
    text-align: left;
    .contact {
      .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row-reverse;
        .footer-logo {
          text-align: right;
        }
      }
    }
  }
  .address {
    padding-top: $small-spacing;
    padding-bottom: $small-spacing;
    background-color: $light-gray;
  }
  .contact {
    padding-top: $base-spacing;
    padding-bottom: $base-spacing;
    background-color: $light-gray;
    span {
      color: #FFFFFF;
    }
  }
  .colophon {
    padding-top: $base-spacing;
    padding-bottom: $base-spacing;
    span {
      letter-spacing: 1px;
      font-size: modular-scale(-1);
    }

  }
}
