#site-header {

  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
  .brand {
    margin-bottom: $small-spacing;
    text-align: center;
  }
  .contact {
    text-align: center;
    color: $primary-color;
    span {
      display: block;
      line-height: 1;
      &.number {
        font-size: 1.4rem;
        font-weight: 700;
      }
      &.website {
        font-weight: 700;
        font-size: 1rem;
      }
    }
  }
  @include media($desktop-width) {
    .brand {
      margin-bottom: 0!important;
      text-align: left;
    }
    .contact {
      text-align: right;
    }
  }
}
