// #{$all-text-inputs}, select, textarea {
//  @include padding($small-spacing);
//  min-height: auto;
//  margin-bottom: $base-spacing;
// }
//
//
// form {
//   .form-row {
//     position: relative;
//     label{
//       position: absolute;
//       top: $small-spacing;
//       left: $small-spacing;
//       transition: all $base-duration $base-timing;
//       color: $medium-gray;
//       font-weight: 400;
//       line-height: 1.2;
//       &.active {
//           top: -$base-spacing*0.75;
//           left: 0;
//           font-size: modular-scale(-1);
//       }
//     }
//   }
// }
